<div class="container">
  <div class="form-group col-xs-12">
    <form [formGroup]="physicalAddress" novalidate>
      <div  class="col-xs-12">
        <label>Street #: <input type="text" class="form-control col-xs-1" [(ngModel)]="addy.streetNumber" formControlName="streetNumber" size="5" placeholder="701"></label>
        <label>Street Direction:
          <select class="form-control col-xs-1" formControlName="streetDirection" [(ngModel)]="addy.streetDirection" placeholder="E">
           <option *ngFor="let x of directions" [value]="x">{{x}}</option>
          </select>
        </label>
        <label>Street Name: <input type="text" class="form-control col-xs-5" formControlName="streetName"  [(ngModel)]="addy.streetName" placeholder="Main"></label>
        <label>Street Type:
          <select class="form-control col-xs-5" formControlName="streetType"  [(ngModel)]="addy.streetType" placeholder="STREET">
            <option *ngFor="let y of streetTypes" [value]="y.value">{{y.key}}</option>
          </select>
        </label>
      <label>Do you need a second address line? <input type="checkbox" formControlName="secondLine" [(ngModel)]="addy.secondLine"></label>
      </div>
    <div class="form-group col-xs-12" *ngIf="physicalAddress.controls.secondLine.value">
      <label>Unit Type:
        <select class="form-control col-xs-6" formControlName="unitType"  [(ngModel)]="addy.unitType">
          <option *ngFor="let z of secUnits" [value]="z.value">{{z.key}}</option>
        </select>
      </label>
      <label>Unit Number: <input type="text" class="form-control col-xs-6" formControlName="unitNumber" size="5"  [(ngModel)]="addy.unitNumber"></label>
    </div>
    <div class="form-group col-xs-12">
      <div class="col-xs-4">
      <label>City: <input type="text" class="form-control" formControlName="city"  [(ngModel)]="addy.city" placeholder="Lexington"></label>
      </div>
      <div class="col-xs-2">
        <label>State:
          <select class="form-control" formControlName="state"  [(ngModel)]="addy.state" placeholder="KENTUCKY">
            <option *ngFor="let st of cszips" [value]="st.stusps">{{st.statenm}}</option>
          </select>
        </label>
      </div>
      <div class="col-xs-3">
        <label>Zip Code:</label>
        <input type="text" class="form-control" formControlName="zipCode" [(ngModel)]="addy.zipCode" placeholder="40502">
        <div *ngIf="!physicalAddress.controls.zipCode.valid && !physicalAddress.controls.zipCode.pristine" class="alert alert-danger" style="font-size: 12px;">Zip Code should only contain 5 digits or 9 digits with a hyphen separating the 5th and 6th digit.</div>
      </div>
      <div class="col-xs-3">

      </div>
    </div>
    </form>
  </div>
  <div class="col-xs-12">
  </div>
  <!--
  <div class="margin-20">
  <div>myForm details:-</div>
  <pre>Is myForm valid?: <br>{{physicalAddress.valid | json}}</pre>
  <pre>form value: <br>{{addy | json}}</pre>
  </div>
  -->
</div>
