<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="margin-20">
        <h4>Add Data Collection Window</h4>
      </div>
      <form [formGroup]="dataCollection" novalidate >
        <div class="form-group">
          <!--addresses-->
          <div formArrayName="collectionWindow">
            <div *ngFor="let address of dataCollection.controls.collectionWindow.controls; let i=index" class="panel panel-default">
              <div class="panel-heading">
                <span>Collection Window {{i + 1}}</span>
                <span class="glyphicon glyphicon-remove pull-right" *ngIf="dataCollection.controls.collectionWindow.controls.length > 1" (click)="removeCollectionWindowFields(i)"></span>
              </div>
              <div class="panel-body" [formGroupName]="i">
                <div class="form-group col-xs-12">
                  <label>Start of Collection Window:
                    <input type="date" class="form-control col-xs-6" formControlName="startDate" step="1" min="theDates.starting" max="theDates.ending">
                  </label>
                  <label>End of Collection Window:
                    <input type="date" class="form-control col-xs-6" formControlName="endDate" step="1" min="theDates.starting" max="theDates.ending">
                  </label>
                </div>
                <div>
                  <label>Do you need to collect new data in this window?
                    <input type="checkbox" class="col-xs-6" formControlName="collectingData">
                  </label>
                  <label>Do you need data from FCPS in this window?
                    <input type="checkbox" class="col-xs-6" formControlName="needFcpsData">
                  </label>
                </div>
                <div *ngIf="dataCollection.controls.collectionWindow.controls[i].controls.collectingData.value">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <span><strong>Measures</strong></span>
                    </div>
                    <div class="panel-body">
                      <measures></measures>
                    </div>
                  </div>
                </div>
                <div *ngIf="dataCollection.controls.collectionWindow.controls[i].controls.needFcpsData.value">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <span><strong>Existing Data</strong></span>
                    </div>
                    <div class="panel-body">
                      <existing-data></existing-data>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="margin-20">
        <a (click)="addCollectionWindowFields()" style="cursor: default">
          Add another data collection window +
        </a>
      </div>

    </div>
  </div>
</div>
