<div (change)="updateDistrictSponsor()">
  <div class="form-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span>District Co-Sponsor Information</span>
      </div>
      <div class="panel-body">
        <form [formGroup]="districtSponsor" novalidate>
          <div class="form-group">
            <people (peeps)="bindPersonInfo($event)"></people>
          </div>
          <div class="form-group">
            <contactInformation (contactInfo)="bindContactInformation($event)"></contactInformation>
          </div>
          <div class="form-group col-xs-12">
            <div class="col-xs-4">
              <label>District Office: </label>
              <select formControlName="office" class="form-control" [(ngModel)]="distSponsor.office">
                <option *ngFor="let o of offices" [value]="o">{{o}}</option>
              </select>
            </div>
            <div class="col-xs-4">
              <label>Position Level: </label>
              <select formControlName="level" class="form-control" [(ngModel)]="distSponsor.level">
                <option *ngFor="let l of levels" [value]="l" >{{l}}</option>
              </select>
            </div>
            <div class="col-xs-4">
              <label>Was the sponsorship role delegated?</label>
              <input type="checkbox" formControlName="delegated" class="form-control" [(ngModel)]="distSponsor.delegated">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
