<div (change)="updateDistrictSponsor()">
  <div class="form-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span>District Co-Sponsor Information</span>
      </div>
      <div class="panel-body">
        <form [formGroup]="districtSponsor" novalidate>
          <div class="row">
            <div class="col-md-4">
              <label for="firstName">First Name:</label>
              <input type="text" [(ngModel)]="distSponsor.firstName" id="firstName" class="form-control" formControlName="firstName" placeholder="Billy" (change)="makeUserName()">
              <div *ngIf="!districtSponsor.controls.firstName.valid && !districtSponsor.controls.firstName.pristine" class="alert alert-danger" style="font-size: 12px;">
                First Name should be between 2 and 40 characters
              </div>
            </div>
            <div class="col-md-4">
              <label for="lastName">Last Name:</label>
              <input type="text" [(ngModel)]="distSponsor.lastName" id="lastName" class="form-control" formControlName="lastName" placeholder="Buchanan" (change)="makeUserName()">
              <div *ngIf="!districtSponsor.controls.lastName.valid && !districtSponsor.controls.lastName.pristine" class="alert alert-danger" style="font-size: 12px;">
                Last Name should be between 2 and 40 characters
              </div>
            </div>
            <div class="col-md-4">
              <label for="jobTitle">Job Title:</label>
              <input type="text" [(ngModel)]="distSponsor.jobTitle" id="jobTitle" class="form-control" formControlName="jobTitle" placeholder="Director of Data, Research, and Accountability">
              <div *ngIf="!districtSponsor.controls.jobTitle.valid && !districtSponsor.controls.jobTitle.pristine" class="alert alert-danger" style="font-size: 12px;">
                Job Title should be between 2 and 40 characters
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <label>District Office: </label>
              <select formControlName="office" class="form-control" [(ngModel)]="distSponsor.office">
                <option *ngFor="let o of offices" [value]="o">{{o}}</option>
              </select>
            </div>
            <div class="col-md-4">
              <label>Position Level: </label>
              <select formControlName="level" class="form-control" [(ngModel)]="distSponsor.level">
                <option *ngFor="let l of levels" [value]="l" >{{l}}</option>
              </select>
            </div>
            <div class="col-md-4">
              <label>Was the sponsorship role delegated?
                <span (mouseover)="displayHelpDelegate()" (mouseout)="undisplayHelpDelegate()" class="glyphicon glyphicon-info-sign pull-right"></span>
              </label>
              <input type="checkbox" formControlName="delegated" class="form-control" [(ngModel)]="distSponsor.delegated">
              <div *ngIf="helpDelegated !== ''" class="alert alert-info" style="z-index: 100; position: absolute">{{helpDelegated}}</div>
            </div>
          </div>

          <!-- Email Address -->
          <div class="row">
            <div class="form-group col-md-4">
              <label for="emailType">Email Type:</label>
              <select class="form-control" id="emailType" formControlName="emailType" [(ngModel)]="distSponsor.emailType">
                <option *ngFor="let m of emailTypes" [value]="m">{{m}}</option>
              </select>
            </div>
            <label for="emailAddress">Email Address: </label>
            <div class="form-group col-md-8" id="emailAddress">
              <div class="col-md-6">
                <div class="input-group">
                  <span class="input-group-addon">User name:</span>
                  <input type="text" class="form-control" id="userName" formControlName="userName" [(ngModel)]="distSponsor.userName" [value]="distSponsor.userName">
                  <span class="input-group-addon">@</span>
                  <div *ngIf="!districtSponsor.controls.userName.valid && !districtSponsor.controls.userName.pristine" class="alert alert-danger" style="font-size: 12px">
                    Invalid User Name
                  </div>
                </div>
              </div>
             <div class="col-md-6">
               <div class="input-group">
                <span class="input-group-addon">Domain:</span>
                <input type="text" class="form-control" id="domain" formControlName="domain" [(ngModel)]="distSponsor.domain">
                <div *ngIf="!districtSponsor.controls.domain.valid && !districtSponsor.controls.domain.pristine" class="alert alert-danger" style="font-size: 12px">
                  Invalid domain must be one of .com, .net, .gov, .us, .edu, or .org
                </div>
               </div>
             </div>
            </div>
          </div>

          <!-- Phone Number -->
          <div class="row">
            <div class="form-group col-md-3">
              <label for="phoneType">Phone Type:</label>
              <select class="form-control" id="phoneType" formControlName="phoneType" [(ngModel)]="distSponsor.phoneType">
                <option *ngFor="let m of phoneTypes" [value]="m">{{m}}</option>
              </select>
            </div>
            <label for="phoneNumber">Phone Number:</label>
            <div class="form-group col-md-9" id="phoneNumber">
              <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-addon">(</span>
                  <input type="text" class="form-control" id="areaCode" formControlName="areaCode" [(ngModel)]="distSponsor.areaCode">
                  <span class="input-group-addon">)</span>
                  <div *ngIf="!districtSponsor.controls.areaCode.valid && !districtSponsor.controls.areaCode.pristine" class="alert alert-danger" style="font-size: 12px">
                    Invalid area code.
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-addon"> </span>
                  <input type="text" id="exchangeCode" class="form-control" formControlName="exchangeCode" [(ngModel)]="distSponsor.exchangeCode">
                  <span class="input-group-addon"> - </span>
                  <div *ngIf="!districtSponsor.controls.exchangeCode.valid && !districtSponsor.controls.exchangeCode.pristine" class="alert alert-danger" style="font-size: 12px">
                    Invalid exchange code.
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-addon"> </span>
                  <input type="text" id="subscriberNumber" class="form-control" formControlName="subscriberNumber" placeholder="####" [(ngModel)]="distSponsor.subscriberNumber">
                  <div *ngIf="!districtSponsor.controls.subscriberNumber.valid && !districtSponsor.controls.subscriberNumber.pristine" class="alert alert-danger" style="font-size: 12px">
                    Invalid subscriber number.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
