<form [formGroup]="email" novalidate>
  <div class="form-group">
    <div formArrayName="emailAddresses" (change)="updateEmailAddresses()">
      <div *ngFor="let address of email.controls.emailAddresses.controls; let i=index" class="panel panel-default">
        <div class="panel-heading">
          <span>Email Address {{i + 1}}</span>
          <span class="glyphicon glyphicon-remove pull-right" *ngIf="email.controls.emailAddresses.controls.length > 1" (click)="removeEmailFields(i)"></span>
        </div>
        <div class="panel-body" [formGroupName]="i">
          <div class="form-group col-md-4">
            <label for="emailType">Email Type:</label>
            <select class="form-control" id="emailType" formControlName="emailType" [(ngModel)]="emails[i].emailType">
              <option *ngFor="let m of emailTypes" [value]="m">{{m}}</option>
            </select>
          </div>
          <label for="emailAddress">Email Address: </label>
          <div class="form-group col-md-8" id="emailAddress">
            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-addon">User name:</span>
                <input type="text" class="form-control" id="userName" formControlName="userName" placeholder="John.Doe" [(ngModel)]="emails[i].userName">
                <span class="input-group-addon">@</span>
                <div *ngIf="!email.controls.emailAddresses.controls[i].controls.userName.valid && !email.controls.emailAddresses.controls[i].controls.userName.pristine" class="alert alert-danger" style="font-size: 12px">
                  Invalid User Name
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-addon">Domain:</span>
                <input type="text" class="form-control" id="domain" placeholder="fayette.kyschools.us" formControlName="domain" [(ngModel)]="emails[i].domain">
                <div *ngIf="!email.controls.emailAddresses.controls[i].controls.domain.valid && !email.controls.emailAddresses.controls[i].controls.domain.pristine" class="alert alert-danger" style="font-size: 12px">
                  Invalid domain must be one of .com, .net, .gov, .us, .edu, or .org
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <a (click)="addEmailFields()" style="cursor: default">
              Add another email address +
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
