    <form [formGroup]="measures" novalidate>
      <div formArrayName="measure">
        <div *ngFor="let address of measures.controls.measure.controls; let i=index">
          <div class="panel panel-default">
            <div class="panel-heading">
              <span> <strong> {{measures.controls.measure.controls[i].controls.name.value}} </strong> </span>
              <span class="glyphicon glyphicon-remove pull-right" *ngIf="measures.controls.measure.controls.length > 1" (click)="removeMeasureFields(i)"></span>
            </div>
            <div [formGroupName]="i" class="panel-body">
              <div class="form-group col-xs-12">
                <div class="col-xs-4">
                  <label for="name">Measure Name:</label>
                  <input type="text" class="form-control" formControlName="name" id="name"  [(ngModel)]="measurement[i].name" placeholder="WISC-III, Fountas & Pinnell, PALS, etc...">
                  <div *ngIf="!measures.controls.measure.controls[i].controls.name.valid" class="alert alert-danger" style="font-size: 12px">
                    Must include the name of the measure being used to collect data
                  </div>
                </div>
                <div class="col-xs-4">
                  <label for="unitOfMeasurement">Unit of Measurement:</label>
                    <select class="form-control col-xs-4" id="unitOfMeasurement" formControlName="unitOfMeasurement" name="unitOfMeasurement"   [(ngModel)]="measurement[i].unitOfMeasurement">
                      <option *ngFor="let m of units" [value]="m.value">{{m.key}}</option>
                    </select>
                    <div *ngIf="!measures.controls.measure.controls[i].controls.unitOfMeasurement.valid" class="alert alert-danger" style="font-size: 12px">
                      Must identify the unit of measurement at which data will be collected
                    </div>
                </div>
                <div class="col-xs-4">
                  <label for="pilot">Is this a Pilot?</label>
                  <input type="checkbox" class="form-control" id="pilot" formControlName="pilot" name="pilot" [(ngModel)]="measurement[i].pilot">
                </div>
               </div>
                <div class="col-xs-12">
                  <div class="col-xs-4">
                  <label for="administrationTime">Administration Time:</label>
                    <input type="number" class="form-control" id="administrationTime" formControlName="administrationTime" min="0.0" max="10.0" step="0.01"  [(ngModel)]="measurement[i].administrationTime">
                </div>
                <div class="col-xs-4">
                  <label for="administrationTimeUnits">Time Units: </label>
                    <select formControlName="administrationTimeUnits" class="form-control" id="administrationTimeUnits" [(ngModel)]="measurement[i].administrationTimeUnits">
                      <option *ngFor="let tunit of timeUnits" [value]="tunit">{{tunit}}</option>
                    </select>
                </div>
                <div class="col-xs-4">
                  <label *ngIf="!measures.controls.measure.controls[i].controls.pilot.value">References:
                    <textarea rows="1" cols="35" class="form-control" formControlName="references" [(ngModel)]="measurement[i].references"></textarea>
                  </label>
                </div>
              </div>
              <div class="col-xs-12">
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="margin-20">
      <a (click)="addMeasureFields()" style="cursor: default">
        Add another measure +
      </a>
    </div>
