<div class="container">
    <div>
        <h4>Person</h4>
    </div>
    <form [formGroup]="people" novalidate class="form-group col-xs-12">
        <div class="form-group">
        <label>First Name: <input type="text" [ngModel]="person.firstName" class="form-control col-xs-3" formControlName="firstName" placeholder="John"></label>
        <label>Last Name: <input type="text" [ngModel]="person.lastName" class="form-control col-xs-3" formControlName="lastName" placeholder="Doe"></label>
        <label>Job Title: <input type="text" [ngModel]="person.jobTitle" class="form-control col-xs-3" formControlName="jobTitle" placeholder="Teacher"></label>
        </div>
    </form>
    <div class="col-xs-12">
        <small [hidden]="people.controls.firstName.valid" class="text-danger">First Name should be between 2 and 40 characters</small>
        <small [hidden]="people.controls.lastName.valid" class="text-danger">Last Name should be between 2 and 40 characters</small>
        <small [hidden]="people.controls.jobTitle.valid" class="text-danger">Job Title should be between 2 and 40 characters</small>
    </div>
</div>
