<div class="container">
  <form [formGroup]="person" novalidate>
    <div class="panel panel-default">
      <div class="panel-heading">
        <span><strong>Requestor Information: </strong></span>
      </div>
      <div class="panel-body">
        <div class="form-group col-xs-9">
          <people></people>
        </div>
        <div class="form-group col-xs-3">
          <label for="isFCPS">Are you an FCPS Employee?</label>
          <input type="checkbox" class="form-control" id="isFCPS" formControlName="isFCPS">
        </div>
        <div class="form-group col-xs-12" *ngIf="!person.controls.isFCPS.value">
          <contactInformation></contactInformation>
          <institution></institution>
        </div>
      </div>
    </div>
  </form>
</div>
