<div (change)="updateRequestor()">
  <form [formGroup]="person" novalidate>
    <div class="panel panel-default">
      <div class="panel-heading">
        <span><strong>{{title}}</strong></span>
      </div>
      <div class="panel-body">
        <div class="form-group col-md-9">
          <people (peeps)="bindPersonObject($event)"></people>
        </div>
        <div class="form-group col-md-3">
          <label for="isFCPS">FCPS Employee?
            <span (mouseover)="displayEmployeeHelp()" (mouseout)="undisplayEmployeeHelp()" class="glyphicon glyphicon-question-sign">
              </span>
          </label>
          <input type="checkbox" class="form-control" id="isFCPS" (change)="updateRequestor()" [(ngModel)]="peep.isFCPS" formControlName="isFCPS">
          <div *ngIf="employeeHelp !== ''" class="alert alert-info" style="z-index: 100; position: absolute">{{employeeHelp}}</div>
        </div>
        <div class="form-group col-md-12">
          <contactInformation (contactInfo)="bindContactInformation($event)"></contactInformation>
        </div>
<!--
        <fieldset class="form-group col-md-12" [disabled]="person.controls.isFCPS.value">
-->
        <fieldset class="form-group col-md-12">
          <institution [externalInstitution]="defaultInst" (institutionData)="bindInstitutionInformation($event)" (change)="updateRequestor()" [isEmployee]="person.controls.isFCPS.value" ></institution>
        </fieldset>
      </div>
    </div>
  </form>
</div>
