<form [formGroup]="phone" novalidate>
  <div class="form-group">
    <div formArrayName="phoneNumbers" (change)="update()">
      <div *ngFor="let address of phone.controls.phoneNumbers.controls; let i=index" class="panel panel-default">
        <div class="panel-heading">
          <span>Phone Number {{i + 1}}</span>
          <span class="glyphicon glyphicon-remove pull-right" *ngIf="phone.controls.phoneNumbers.controls.length > 1" (click)="removePhoneFields(i)"></span>
        </div>
        <div class="panel-body" [formGroupName]="i">
          <div class="form-group col-xs-6">
            <label for="phoneType">Phone Type:</label>
            <select class="form-control" id="phoneType"formControlName="phoneType" [(ngModel)]="phones[i].phoneType">
              <option *ngFor="let m of phoneTypes" [value]="m">{{m}}</option>
            </select>
          </div>
          <div class="form-group col-xs-6">
            <label for="countryCode">Country Code:</label>
            <input type="text" class="form-control" id="countryCode" formControlName="countryCode" [(ngModel)]="phones[i].countryCode">
            <div *ngIf="!phone.controls.phoneNumbers.controls[i].controls.countryCode.valid && !phone.controls.phoneNumbers.controls[i].controls.countryCode.pristine" class="alert alert-danger" style="font-size: 12px">
              Invalid country code.
            </div>
          </div>
          <div class="form-group col-xs-12">
            <div class="col-xs-2"><strong>Phone Number:</strong></div>
            <div class="col-xs-2">
              <input type="text" class="form-control" formControlName="areaCode" placeholder="###"  [(ngModel)]="phones[i].areaCode">
              <div *ngIf="!phone.controls.phoneNumbers.controls[i].controls.areaCode.valid && !phone.controls.phoneNumbers.controls[i].controls.areaCode.pristine" class="alert alert-danger" style="font-size: 12px">
                Invalid area code.
              </div>
            </div>
            <div class="col-xs-2">
              <input type="text" class="form-control" formControlName="exchangeCode" placeholder="###"  [(ngModel)]="phones[i].exchangeCode">
              <div *ngIf="!phone.controls.phoneNumbers.controls[i].controls.exchangeCode.valid && !phone.controls.phoneNumbers.controls[i].controls.exchangeCode.pristine" class="alert alert-danger" style="font-size: 12px">
                Invalid exchange code.
              </div>
            </div>
            <div class="col-xs-2">
              <input type="text" class="form-control" formControlName="subscriberNumber" placeholder="####"  [(ngModel)]="phones[i].subscriberNumber">
              <div *ngIf="!phone.controls.phoneNumbers.controls[i].controls.subscriberNumber.valid && !phone.controls.phoneNumbers.controls[i].controls.subscriberNumber.pristine" class="alert alert-danger" style="font-size: 12px">
                Invalid subscriber number.
              </div>
            </div>
            <div class="col-xs-2">
              <strong>Extension:</strong>
            </div>
            <div class="col-xs-2">
              <input type="text" class="form-control" formControlName="extension" [(ngModel)]="phones[i].extension">
            </div>
          </div>
          <div class="col-xs-12">
            <a (click)="addPhoneFields()" style="cursor: default">
              Add another phonenumber +
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
