<div (change)="updateStatisticalPower()" (mouseover)="displayHelpInfo()" (mouseout)="undisplayHelpInfo()">
  <div class="{{helpClass}}">{{helpInfo[0]}} <a href={{gpowerLink[0]}}>{{gpowerLink[1]}}</a> {{helpInfo[1]}}</div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <span>Statistical Power</span>
    </div>
    <div class="panel-body">
      <form [formGroup]="statPower" novalidate>
        <div class="form-group col-md-12">
          <div class="col-md-1">
            <label>&alpha; :</label>
            <input type="number" class="form-control" [(ngModel)]="power.alpha" formControlName="alpha" min="0.0" max="1.0" step="0.001">
          </div>
          <div class="col-md-1">
            <label>&beta; :</label>
            <input type="number" class="form-control" [(ngModel)]="power.beta" formControlName="beta" min="0.0" max="1.0" step="0.001">
          </div>
          <div class="col-md-4">
            <label>Test Statistic:</label>
            <input type="text" class="form-control" [(ngModel)]="power.statistic" formControlName="statistic">
          </div>
          <div class="col-md-1">
            <label>n:</label>
            <input type="number" class="form-control" [(ngModel)]="power.totalSampleSize" formControlName="totalSampleSize" min="5" max="42000" step="1">
          </div>
          <div class="col-md-5">
            <label>Minimal Detectable Effect Size:</label>
            <input type="number" class="form-control" [(ngModel)]="power.minimalDetectableEffect" formControlName="minimalDetectableEffect" min="0.0" max="100" step="0.001">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
